<!-- || Aum Shree Ganeshaay Nama: || -->
<!-- || Aum Shree Hanumatey Nama: || -->
<html>
	<head>
		<meta name="description" content="Plastic manufacturer extruder Soft PVC Beading Profiles PVC compounds PVC pipes pp Nylon tubes cotton buds sticks stirrers I-tubes Flanges Catheters Spray fine tubes ballpen refills Lollypop sticks Filaments 3D Printers acrylic sheet laser cutter" />
		<meta name="keywords" content="Jani Plastics, Plastics, Plastic, HDPE, High density polyethylene, PVC, Polyvinyl chloride, LDPE, Low density polyethylene, LLDPE, Linear low density polyethylene, PP, PPCP, Random Copolymer, Random PP, Polypropylene, PS, Polystyrene, ABS, Acrylonitrile Butadiene Styrene, Nylon, Extrusion, Extruder, Pipe, Pipes, Tube, Tubes, Drinking Stirrer, Cotton bud, Cotton buds, Cannula, Lollypop lolipop, lollipop, sticks, acrylic, sheet, nameplates, nameplate, rubberstamp, rubber stamps" />
		<meta name="author" content="Jani Plastics - Anup Jani" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>Jani Plastics - Plastic manufacturer (Extruder)</title>
		<style type="text/css">
		td
		{
			background-color:#EBF5FF;
		}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="js/faq.js"></script>
		<link rel="stylesheet" type="text/css" href="css/basic.css">
	</head>
	<body ng-app="faqMdl" ng-controller="faqCtrl">
	
		<marquee scrollamount="150" behavior="slide" direction="left">
			<img alt="Frequently Asked Questions to Jani Plastics" src="images/faq.jpg" title="www.janiplastics.com">
		</marquee>
		<br>
		<center>
			<input type="button" value="Show All" ng-click="showAll()"><input type="button" value="Hide All" ng-click="hideAll()">
			<table id="siteFontStyle">
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq1"><b>I want to courier some samples for a new order</b></h4>
						<div ng-show="faq1">
							<p>
								It is one of the best things you can do.  
								<br>Helps us understand your requirement exactly.
								<br>Don't forget to enclose outer/inner testing gauges if you have.
							</p>
						</div>
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq2"><b>I want to run a trial of a product.</b></h4>
						<div ng-show="faq2">
							<p>
								Regardless of any order, trial charges including taxes are applicable. 
								<br>Charges vary from INR 3000/- to 6000/-
								<br><i>(Excludes cost of raw material & transport)</i>
							</p>
						</div>
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq3"><b>I want to place an order. How to proceed?</b></h4>
						<div ng-show="faq3">
							<p>
								Email or courier <a href="contact_us.html"><i>See Contact us.</i></a> your order	with your specification as follows:
								<br><br>
								<table border="1">
									<tr>
										<td>Material to use (HDPE, PVC, LDPE, LLDPE, PP, PS, ABS, Nylon)</td><td></td>
									</tr>
									<tr>
										<td>Inner Diameter (ID)</td><td>________mm (+/- ________mm)</td>
									</tr>
									<tr>
										<td>Outer Diameter (OD)</td><td>________mm (+/- ________mm)</td>
									</tr>
									<tr>
										<td>Length</td><td>________mm (+/- ________mm)</td>
									</tr>
									<tr>
										<td>Visibility (Transparent or Opaque)</td><td></td>
									</tr>
									<tr>
										<td>Colour (Fluorescent, Red, Green, Blue, Yellow, Black, Milky White, etc...)</td><td></td>
									</tr>
									<tr>
										<td>Approximate weight per piece.</td><td>________gm (+/- ________gm)</td>
									</tr>
									<tr>
										<td>Quantity(No. of pieces, Kg, Meters, etc...)</td><td></td>
									</tr>
									<tr>
										<td>Packaging requirement (e.g. Corrugated box, plastic bag, tuping, etc...)</td><td></td>
									</tr>
									<tr>
										<td>Transportation (e.g. Ghatge Patil, TCI XPS, VXpress, Kandpile, etc...)</td><td></td>
									</tr>
									<tr>
										<td>Special remarks (if any)</td><td></td>
									</tr>
								</table>
								<br><i>[Please enclose your business card / contacts].</i>
							</p>
						</div>
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq4"><b>Is there a minimum quantity for any order?</b></h4>
						<div ng-show="faq4">
							<p>
								Yes.
								<br>50Kg to 100Kg. 
								<br>We also welcome lesser quantity however this might attract higher order processing costs.
							</p>
						</div>
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq5"><b>Do you also make items from re-cycled or processed plastics?</b></h4>
						<div ng-show="faq5">
							<p>
								Yes. 
								<br>If you require items made from re-cycled.
								<br>Re-cycling is good for environment!
							</p>
						</div>
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq6"><b>Q. Do you make food grade items?</b></h4>
						<div ng-show="faq6">
							<p>
								Yes. 
								<br>On demand, we also make food grade items.
								<br>Food grade items are often also used for medical / surgical purposes.
							</p>
						</div>
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq7"><b>Q. Do you make moulded products?</b></h4>
						<div ng-show="faq7">
							<p>
								Not yet. 
								<br>Our expertise is in extrusion however, 
								<br>we can suggest our customers a few moulders.
							</p>
						</div>	
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq8"><b>Q. What taxes are applicable on finished goods?</b></h4>
						<div ng-show="faq8">
							<p>
								(Goods And Service Tax)GST w.r.t. HSN Code. 
								<br><i>All taxes subject to change as per Indian government regulation.</i>
							</p>
						</div>	
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq9"><b>Will I get Input Tax Credit (ITC) of GST if I buy from Jani Plastics?</b></h4>
						<div ng-show="faq9">
							<p>
								Yes of course! We are GST registered and we are NOT under composition scheme. 
								<br> Therefore, you will get Input Tax Credit if you buy from us.
							</p>
						</div>	
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq10"><b>Q. What modes of payment do you accept?</b></h4>
						<div ng-show="faq10">
							<p>
								Cash, Cheque, DD &amp; Wired (RTGS / NEFT).
							</p>
						</div>	
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				<tr>
					<td>
						<h4><input type="checkbox" ng-model="faq11"><b>Q. What are your working hours?</b></h4>
						<div ng-show="faq11">
							<p>
								Factory hours: 9 AM to 6 PM, Tuesday off.
								<br> Office hours: 9 AM to 6 PM, Sunday off. 
							</p>
						</div>
					</td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
			</table>
		</center>
	</body>
</html>